# Virtual environment
venv
# Default cache folder
cache/

# Dataset
jhu_crowd_v2.0/

# Logs
lightning_logs/

# Checkpoints directory
checkpoints/
ckpts/

.ipynb_checkpoints/

__pycache__/

.mypy_cache

/data